<div *ngIf="server$ | async as server">
  <div class="row">
    <div class="col-md-12" style="margin-bottom: 50px;">
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <button shape="semi-round" style="pointer-events: none;" nbButton hero status="info">
            <nb-icon icon="hard-drive"></nb-icon>
          </button>
          <h5 style="margin-bottom: 0; margin-left: 14px; color: #6b6b6b;">{{ server.name }}</h5>
          <nb-badge
            *ngIf="statusBadgeUI$ | async as statusBadgeUI"
            [status]="statusBadgeUI?.status"
            [text]="statusBadgeUI?.text"
            style="position: inherit; margin-left: 8px; margin-top: 2px;"
          ></nb-badge>
        </div>

        <div class="d-flex align-items-center">
          <div nbTooltip="Server IP Address">
            <ng-container *ngIf="server.vmInfo?.publicIP; then ipButtonRef; else loadingRef"></ng-container>
          </div>

          <nb-actions size="small" fullWidth>
            <nb-action nbTooltip="Restart server" icon="refresh-outline" (click)="openRestartDialog()"></nb-action>
            <nb-action nbTooltip="Delete server" icon="close-outline" (click)="openDeleteDialog()"></nb-action>
            <nb-action nbTooltip="Edit settings" icon="edit-outline" (click)="openPropertiesDialog()"></nb-action>
          </nb-actions>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div>
        <!-- Resources Card -->
        <app-server-resources [server]="server"></app-server-resources>
      </div>
      <div>
        <!-- Logs Card -->
        <app-server-logs [server]="server"></app-server-logs>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Settings Card -->
      <app-server-properties [server]="server"></app-server-properties>
    </div>
  </div>
</div>

<ng-template #loadingRef>
  <div class="ip-address-wrapper">
    <button
      class="ip-address"
      nbButton
      fullWidth
      shape="round"
      outline
      style="pointer-events: none; width: 220px;"
      [nbSpinner]="true"
      nbSpinnerStatus="warning"
      nbSpinnerMessage="Provisioning IP"
    >
      <span style="color: transparent;">das</span>
    </button>
  </div>
</ng-template>

<ng-template #ipButtonRef>
  <div class="ip-address-wrapper">
    <button
      class="ip-address"
      nbButton
      fullWidth
      shape="round"
      outline
      style="width: 220px;"
      [nbPopover]="popoverRef"
      (click)="ipClicked(server.vmInfo?.publicIP)"
    >
      {{ server.vmInfo?.publicIP }}
    </button>
  </div>
</ng-template>

<ng-template #popoverRef>
  <div style="border-radius: 4px; padding: 10px; text-align: center;">
    <div>Copied to clipboard!</div>
    <div><small style="color: grey;">Paste this into the Minecraft Server Address field</small></div>
  </div>
</ng-template>
