<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="margin-bottom: 50px;">
      <div class="d-flex align-items-center">
        <button shape="semi-round" style="pointer-events: none;" nbButton hero status="info"><nb-icon icon="hard-drive"></nb-icon></button>
        <h5 style="margin-bottom: 0; margin-left: 14px; color: #6b6b6b;">Servers</h5>
      </div>
    </div>

    <div class="col-12">
      <div class="row">
        <div *ngFor="let server of servers$ | async" class="col-lg-12">
          <app-server [server]="server"></app-server>

          <!-- <app-server-resources [server]="server"></app-server-resources> -->
        </div>
      </div>
    </div>
  </div>
</div>
