.dark-code {
  background-color: #262e54;
  border: 0.0625rem solid #59709b;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;

  pre {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    color: #f8f8f2;

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    .log-time {
      color: darkgrey;
    }
    .log-info {
      color: #1178cc;
    }
    .log-error {
      color: #df1426;
    }
    .log-warn {
      color: #ba9600;
    }
  }
}
