<nb-card>
  <nb-card-body class="d-flex justify-content-between align-items-center" style="padding: 2rem 1.5rem;">
    <nb-badge
      *ngIf="statusBadgeUI$ | async as statusBadgeUI"
      [status]="statusBadgeUI?.status"
      [text]="statusBadgeUI?.text"
      position="top left"
    ></nb-badge>

    <div style="width: 15%;">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h5 style="margin-bottom: 0;">{{ server.name }}</h5>
        </div>
      </div>
      <p style="margin-bottom: 0;"><span style="color: darkgrey; max-lines: 1;"> {{ server.description }} </span></p>
    </div>

    <div>
      <ng-container *ngIf="server.vmInfo?.publicIP; then ipButtonRef; else loadingRef"></ng-container>
    </div>

    <div class="key-val-wrapper">
      <div class="key-val">
        <p class="key">Location</p>
        <p class="val">{{ fullLocation }}</p>
      </div>

      <div class="key-val">
        <p class="key">Plan</p>
        <p class="val">{{ server.planId }}</p>
      </div>

      <div class="key-val">
        <p class="key">Version</p>
        <p class="val">{{ server.jarVersion }}</p>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <button
        [disabled]="!status || status === 'offline'"
        shape="round"
        size="small"
        nbButton
        status="primary"
        style="margin-right: 20px;"
        [routerLink]="['/home/servers/',server.uid]"
      >
        View More
      </button>

      <nb-actions size="small" fullWidth>
        <nb-action
          [class.disabled]="!status || status === 'offline'"
          nbTooltip="View server logs"
          icon="list-outline"
          (click)="openLogsDialog()"
        ></nb-action>
        <nb-action
          [class.disabled]="!status || status === 'offline'"
          nbTooltip="View CPU/RAM usage"
          icon="pie-chart-outline"
          (click)="openResourcesDialog()"
        ></nb-action>
        <nb-action
          [class.disabled]="!status || status === 'offline'"
          icon="more-horizontal"
          [nbContextMenu]="extraOptions"
          [nbContextMenuTag]="'server-menu-' + server.uid"
        ></nb-action>
      </nb-actions>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #loadingRef>
  <div class="ip-address-wrapper">
    <button
      class="ip-address"
      nbButton
      fullWidth
      shape="round"
      outline
      status="success"
      style="pointer-events: none; width: 220px;"
      [nbSpinner]="true"
      nbSpinnerStatus="warning"
      nbSpinnerMessage="Provisioning IP"
    >
      <span style="color: transparent;">das</span>
    </button>
  </div>
</ng-template>

<ng-template #ipButtonRef>
  <div class="ip-address-wrapper">
    <button
      class="ip-address"
      nbButton
      fullWidth
      shape="round"
      outline
      style="width: 220px;"
      status="success"
      [nbPopover]="popoverRef"
      (click)="ipClicked(server.vmInfo?.publicIP)"
    >
      {{ server.vmInfo?.publicIP }}
    </button>
  </div>
</ng-template>

<ng-template #popoverRef>
  <div style="border-radius: 4px; padding: 10px; text-align: center;">
    <div>Copied to clipboard!</div>
    <div><small style="color: grey;">Paste this into the Minecraft Server Address field</small></div>
  </div>
</ng-template>
