.table {
  th,
  td {
    vertical-align: middle;
    text-align: center;
    border: none;
    padding: 1.2em;
  }

  th {
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    color: #909aa8;
  }
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f6f7fc;
}
