<nb-card style="max-width: 95vw; max-height: 95vh; width: 500px;">
  <nb-card-header> Contact Us </nb-card-header>

  <nb-card-body>
    <div class="text-center">
      <span style="color: #444;">
        Do you have any questions, feedback or comments? It would be great to hear from you.
      </span>
    </div>
    <br />
    <div class="text-center">
      <div style="margin-top: 5px;">
        <i style="margin-right: 10px; color: #bbb;" class="fas fa-envelope"></i> <span>info@qubecloud.io</span>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer class="responsive-flex"> <button nbButton status="primary" (click)="closeClicked()">Close</button> </nb-card-footer>
</nb-card>
