<nb-card style="max-width: 95vw; width: 1000px;" id="resources-wrapper">
  <nb-card-header>
    <div class="d-flex align-items-center justify-content-between">
      <div>
        Server Resources
      </div>
      <div>
        <button
          class="toggle-button no-borders-right"
          (click)="selectTime(5)"
          nbButton
          [appearance]="selectedTime === 5 ? 'filled' : 'outline'"
          status="info"
        >
          5m
        </button>
        <button
          class="toggle-button no-borders-right no-borders-left"
          (click)="selectTime(10)"
          nbButton
          [appearance]="selectedTime === 10 ? 'filled' : 'outline'"
          status="info"
        >
          10m
        </button>
        <button
          class="toggle-button no-borders-right no-borders-left"
          (click)="selectTime(30)"
          nbButton
          [appearance]="selectedTime === 30 ? 'filled' : 'outline'"
          status="info"
        >
          30m
        </button>
        <button
          class="toggle-button no-borders-left"
          (click)="selectTime(60)"
          nbButton
          [appearance]="selectedTime === 60 ? 'filled' : 'outline'"
          status="info"
        >
          1h
        </button>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body style="max-height: 50vh; min-height: 50vh;" [nbSpinner]="loading">
    <div *ngIf="chartData">
      <canvas baseChart [datasets]="chartData" [options]="chartOptions" [chartType]="'line'"></canvas>
    </div>
  </nb-card-body>
</nb-card>
