<nb-card style="max-width: 95vw; max-height: 95vh; width: 500px">
  <nb-card-header> {{ title }} </nb-card-header>
  <nb-card-body [innerHTML]="body"></nb-card-body>
  <nb-card-footer class="responsive-flex">
    <button *ngIf="cancel !== ''" nbButton status="primary" (click)="cancelClicked()">{{ cancel }}</button>
    <button
      *ngIf="confirm !== ''"
      nbButton
      status="primary"
      (click)="confirmClicked()"
      [nbSpinner]="confirmLoading"
      nbSpinnerMessage=""
      nbSpinnerStatus="primary"
    >
      {{ confirm }}
    </button>
  </nb-card-footer>
</nb-card>
