<div class="text-center">
  <h4>Customize Your Server</h4>

  <br />

  <p>
    Set your server name and description to find it easily from the dashboard. Selecting a location closest to you will result in the lowest
    latency.
  </p>
</div>
<br />

<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group col-md-6 offset-3 text-left">
    <label>Server name:</label>
    <input nbInput fullWidth type="text" placeholder="Server name" class="form-control" [(ngModel)]="formData.name" name="name" required />
  </div>

  <div class="form-group col-md-6 offset-3 text-left">
    <label>Server description:</label>
    <textarea
      nbInput
      fullWidth
      type="text"
      placeholder="A snazzy description of your server"
      class="form-control"
      [(ngModel)]="formData.description"
      name="description"
    ></textarea>
  </div>

  <div class="form-group col-md-6 offset-3 text-left">
    <label>Server location (choose your nearest location to get the best performance):</label>

    <nb-select required fullWidth [(ngModel)]="formData.location" name="location" placeholder="Select location">
      <nb-option-group *ngFor="let serverLocation of serverLocations" [title]="serverLocation.continent">
        <nb-option *ngFor="let servers of serverLocation.servers" value="{{ servers.id }}"> {{ servers.location }} </nb-option>
      </nb-option-group>
    </nb-select>
  </div>

  <div class="col-md-6 offset-3">
    <div class="row">
      <div class="form-group col-md-6 text-left">
        <label>Type:</label>
        <nb-select
          required
          fullWidth
          [(ngModel)]="formData.serverTypeSelection"
          name="serverTypeSelection"
          placeholder="Select Server Type"
        >
          <nb-option value="java"> Java </nb-option>
          <nb-option value="curseforge"> Mod Packs </nb-option>
          <nb-option disabled value="bedrock"> Bedrock &nbsp; <small style="color: darkgray;"> (coming soon) </small> </nb-option>
        </nb-select>
      </div>

      <div class="form-group col-md-6 text-left" *ngIf="formData.serverTypeSelection === 'java'">
        <label>Version:</label>
        <nb-select required fullWidth [(ngModel)]="formData.jarUid" name="jarUid" placeholder="Select version">
          <nb-option class="d-flex justify-content-between" *ngFor="let jar of jars$ | async;  let i = index" value="{{ jar.uid }}"
            >v{{ jar.version }} &nbsp;
            <small *ngIf="i === 0" style="color: darkgray;">(newest)</small>
          </nb-option>
        </nb-select>
      </div>

      <div class="form-group col-md-6 text-left" *ngIf="formData.serverTypeSelection === 'curseforge'">
        <label>Pack:</label>
        <nb-select required fullWidth [(ngModel)]="formData.curseforgeUid" name="curseforgeUid" placeholder="Select modpack">
          <nb-option
            class="d-flex justify-content-between"
            *ngFor="let curseforgeData of curseforgeData$ | async;  let i = index"
            [disabled]="getCurseforgeOptionDisabled(curseforgeData)"
            value="{{ curseforgeData.uid }}"
            >{{ curseforgeData.displayName }}
            <small *ngIf="getCurseforgeOptionDisabled(curseforgeData)"
              >&nbsp;<span style="text-transform: capitalize; font-weight: bold;">{{ curseforgeData.minPlanId }}</span> plan required
            </small>
          </nb-option>
        </nb-select>
      </div>
    </div>
  </div>

  <div class="col-md-6 offset-3" *ngIf="formData.serverTypeSelection === 'curseforge'">
    <nb-alert outline="basic">
      <span style="font-size: 0.8em; font-weight: normal;" class="text-center">
        Most modpacks require both the server and your local Minecraft to have the required mods running.
        <b
          >We recommend using the <a target="_blank" href="https://help.twitch.tv/s/article/guide-to-modpacks/">Twitch installer</a> to
          manage the mods on your side.</b
        >
        We handle the rest on the server.
      </span>
    </nb-alert>
  </div>
</form>

<div class="form-group col-md-6 offset-3 text-left" style="margin-top: 45px;">
  <button nbButton ghost nbStepperPrevious>Back</button>
  <button nbButton status="primary" class="float-right" (click)="onSubmit(form)" [disabled]="!form.valid">Continue</button>
</div>
