<h4>Customize your server</h4>

<br />

<p>
  Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down. Nullizzle sapien velizzle, my shizz pimpin', shizzle my
  nizzle crocodizzle shut the shizzle up, gravida vizzle, dang.
</p>

<br />

<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group col-md-6 offset-3 text-left">
    <label>Server name:</label>
    <input nbInput fullWidth type="text" placeholder="Server name" class="form-control" [(ngModel)]="formData.name" name="name" required />
  </div>

  <div class="form-group col-md-6 offset-3 text-left">
    <label>Server description:</label>
    <textarea
      nbInput
      fullWidth
      type="text"
      placeholder="A snazzy description of your server"
      class="form-control"
      [(ngModel)]="formData.description"
      name="description"
      required
    ></textarea>
  </div>

  <div class="form-group col-md-6 offset-3 text-left">
    <label>Server location (choose your nearest location to gte the best performance):</label>

    <nb-select required fullWidth [(ngModel)]="formData.location" name="location" placeholder="Select location">
      <nb-option-group *ngFor="let serverLocation of serverLocations" [title]="serverLocation.continent">
        <nb-option *ngFor="let servers of serverLocation.servers" value="{{ servers.id }}"> {{ servers.location }} </nb-option>
      </nb-option-group>
    </nb-select>
  </div>

  <div class="row col-md-6 offset-3">
    <div class="row">
      <div class="form-group col-md-6 text-left">
        <label>Type:</label>
        <nb-select required fullWidth placeholder="Select Server Type" selected="java">
          <nb-option value="java"> Java </nb-option>
          <nb-option disabled value="bedrock"> Bedrock &nbsp; <small style="color: darkgray;"> (coming soon) </small> </nb-option>
          <nb-option disabled value="ftb"> Feed the Beast &nbsp; <small style="color: darkgray;"> (coming soon) </small> </nb-option>
          <nb-option disabled value="curseforge"> CurseForge &nbsp; <small style="color: darkgray;"> (coming soon) </small> </nb-option>
        </nb-select>
      </div>

      <div class="form-group col-md-6 text-left">
        <label>Version:</label>
        <nb-select required fullWidth [(ngModel)]="formData.jarUid" name="jarUid" placeholder="Select version">
          <nb-option *ngFor="let jar of jars$ | async;  let i = index" value="{{ jar.uid }}"
            >v{{ jar.version }} &nbsp;<small *ngIf="i === 0" style="color: darkgray;">(newest)</small>
          </nb-option>
        </nb-select>
      </div>
    </div>
  </div>
</form>

<button nbButton nbStepperPrevious>prev</button>
<button nbButton (click)="onSubmit(form)" [disabled]="!form.valid">next</button>
